<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>History</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/guitar">His guitar</a></li>
        <li><a href="#">His history</a></li>
      </ul>
    </nav>
    <div class="container">
      <h1>Jimi Hendrix</h1>
      <img src="history.jpg" alt="" />
      <p>Jimi was born in Seattle, WA, same as me. He was in the military before making it as a musician.</p>
    </div>
  </body>
</html>
